<!DOCTYPE html>
<html>
    <head>
        <title>Polysocket Web</title>
        <link rel="stylesheet" type="text/css" href="/static/css/main.css" />
    </head>
    <body>
        <header>
            <h1>Polysocket</h1>
            <span class="list-icon"></span>
        </header>
        <form action="" method="POST" id="command">
            <code>(function() {</code>
            <div class="no-break">
                <textarea name="cmd" class="code-entry">// Execute on clients</textarea>
                <textarea name="post-processor" class="code-entry">// Process</textarea>
            </div>
            <input type="submit" value="Run" />
            <code>})();</code>
        </form>
        <div class="responses"></div>
        <script src="/static/js/webui.js"></script>
    </body>
</html>
