* {
  box-sizing: border-box;
}

html {
  background-color: #fefefe;
  font: 12px normal "Helvetica Neue", Helvetica, Arial, sans-serif;
  margin: 0;
  padding: 0;
  text-align: center;
}

body {
  margin: 0;
  padding: 0
}

.no-break {
  white-space: nowrap;
}

form {
  position: relative;
}

code {
  border-top: 1px solid #efefef;
  border-bottom: 1px solid #efefef;
  color: #777;
  display: block;
  font-size: 14px;
  padding: 10px;
  text-align: left;
}

code:first-child {
  border-top: 1px solid #111;
}

#command textarea {
  display: inline-block;
  height: 250px;
  width: 50%;
}

.code-entry {
  background-color: #fff;
  border: 0 none;
  border-left: 3px solid #A9EDF5;
  display: block;
  font-family: Courier, monospace;
  font-size: 14px;
  margin: 0;
  padding: 10px;
  width: 100%;
}

.code-entry:focus {
  outline: 0 none;
  border-color: #92DFE8;
}

input[type="submit"] {
  background-color: #A9EDF5;
  border: 0 none;
  border-left: 1px solid #92DFE8;
  bottom: 0;
  cursor: pointer;
  font-size: 16px;
  margin: 0;
  position: absolute;
  right: 0;
  top: 0;
  width: 100px;
}

.responses code {
  background-color: #f5f5f5;
  border-top: 0 none;  
}

.responses code:before {
  content: ">>> ";
}

header {
  background-color: #343434;
  color: #fff;
}

.list-icon {
  background-image: url('../img/icon/list.png');
  background-repeat; no-repeat;
  display: block;
  height: 33px;
  left: 20px;
  position: absolute;
  top: 45px;
  width: 34px;
}

h1 {
  font-weight: 100;
  height: 100px;
  letter-spacing: 2px;
  margin: 0;
  padding: 50px 0 80px;
}
