* {
  box-sizing: border-box;
}

html {
  background-color: #fefefe;
  font: 12px normal "Helvetica Neue", Helvetica, Arial, sans-serif;
  margin: 0;
  padding: 0;
  text-align: center;
}

body {
  margin: 0;
  padding: 0
}

.no-break {
  white-space: nowrap;
}

form {
  overflow: hidden;
  position: relative;
}

code {
  border-top: 1px solid #efefef;
  border-bottom: 1px solid #efefef;
  color: #777;
  display: block;
  font-size: 14px;
  padding: 10px;
  text-align: left;
}

code:first-child {
  border-top: 1px solid #111;
}

#command textarea {
  display: inline-block;
  height: 250px;
  width: 50%;
}

.code-entry {
  background-color: #fff;
  border: 0 none;
  border-left: 1px solid #efefef;
  display: block;
  font-family: Courier, monospace;
  font-size: 14px;
  margin: 0;
  padding: 10px;
  width: 100%;
}

.code-entry:focus {
  outline: 0 none;
  border-color: #92DFE8;
}

.responses {
  background-color: #343434;
  bottom: 0;
  left: 0;
  overflow: scroll;
  padding-bottom: 5px;
  position: absolute;
  right: 0;
  top: 487px;
}

.responses code {
  border: 0 none;  
  color: #f2f2f2;
  padding-bottom: 0;
}

.responses code:before {
  content: ">> ";
}

header {
  background-color: #343434;
  color: #fff;
}

#controls {
  background-color: #111;
  padding: 0 10px;
  text-align: left;
}

#controls span {
  color: #f1f1f1;
  cursor: pointer;
  display: inline-block;
  font-size: 16px;
  padding: 5px 10px;
}

h1 {
  font-weight: 100;
  height: 100px;
  letter-spacing: 2px;
  margin: 0;
  padding: 50px 0 80px;
}

.slide-window {
  background-color: #fefefe;
  box-shadow: 0 2px 4px rgba(0, 0, 0, .4);
  color: #333;
  font-size: 14px;
  height: 300px;
  left: 25%;
  margin: 0;
  overflow-x: hidden;
  overflow-y: scroll;
  padding: 10px;
  position: absolute;
  text-align: left;
  transition: -webkit-transform .2s ease-in-out, top .2s ease-in-out;
  top: -150px;
  width: 50%;
  z-index: 5000;
  -webkit-transform: rotateX(90deg);
  -webkit-perspective: 500;
}

.popup-head {
  border-bottom: 1px solid #ccc;
  padding: 10px;
}

.popup-head h2 {
  margin: 0;
  display: inline-block;
}

.popup-head input {
  float: right;
}

#program-list ul {
  list-style-type: none;
  margin: 0;
  padding: 0;
}

.slide-window.visible {
  top: 0px;
  -webkit-transform: rotateX(0deg);
}

#program-list li {
  cursor: pointer;
  padding: 5px 10px;
}

#program-list li:hover {
  background-color: #ccc;
}
